/* div {
    position: absolute;
    left: 300px;

} */


table {
    position: absolute;
    left: 300px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB3sqfW1FEH2YsQN3AmmyVNgk-2ivRfIxiLw&usqp=CAU');
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4TzKVPcjY-234LOSKvXiXIXNtElEueYgT6w&usqp=CAU'); */
}
td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}
td:hover {
    background-color: wheat;
}